.path-mod-groupreg .results {border-collapse: separate;}
.path-mod-groupreg .results .data {vertical-align:top;white-space: nowrap;}
.path-mod-groupreg .button {text-align:center;}
.path-mod-groupreg .attemptcell {width:5px;white-space: nowrap;}
.path-mod-groupreg .anonymous,
.path-mod-groupreg .names {margin-left:auto;margin-right:auto; width:80%;}
.path-mod-groupreg .downloadreport {border-width:0;margin-left:10%;}
.path-mod-groupreg .groupregresponse {width:100%;}
.path-mod-groupreg .groupregresponse .picture {width:10px;white-space: nowrap;}
.path-mod-groupreg .groupregresponse .fullname {width:100%;white-space: nowrap;}

.path-mod-groupreg .responseheader {width: 100%; text-align: center; margin-top: 10px;}
.path-mod-groupreg .groupregs .option label {vertical-align: top;}
.path-mod-groupreg .groupregs .option input {vertical-align: middle;}

.path-mod-groupreg .horizontal,
.path-mod-groupreg .vertical {margin-left: 10%;margin-right: 10%;}
.path-mod-groupreg .horizontal .groupregs .option {padding-right:20px;display:inline; white-space: normal;}
.path-mod-groupreg .horizontal .groupregs .button {margin-top: 10px;}
.path-mod-groupreg ul.groupregs li {list-style:none;}
.path-mod-groupreg .results { text-align: center;}
.path-mod-groupreg .results.anonymous .graph.horizontal {vertical-align: middle;text-align: left;width:70%;}

.path-mod-groupreg .results.anonymous .graph.vertical,
.path-mod-groupreg .cell {vertical-align: bottom; text-align: center; }
.path-mod-groupreg .results.names .header{width:10%; white-space: normal;}
.path-mod-groupreg .results.names .cell{vertical-align: top; text-align: left;}
.path-mod-groupreg .results.names .user,
.path-mod-groupreg #yourselection {padding: 5px;}
.path-mod-groupreg .results.names .user .attemptaction,
.path-mod-groupreg .results.names .user .image,
.path-mod-groupreg .results.names .user .fullname{float:left;}
.path-mod-groupreg .results.names .user .fullname{padding-left: 5px;}
.path-mod-groupreg .results .data.header {width: 10%;}
.path-mod-groupreg .responseaction {text-align: center;}
.path-mod-groupreg .results .option {white-space: normal;}
.path-mod-groupreg .response {overflow: auto;}
.path-mod-groupreg .results .option,
.path-mod-groupreg .results .numberofuser,
.path-mod-groupreg .results .percentage {font-weight: bold; font-size: 108%;}

#page-mod-choice-report .downloadreport ul li {list-style:none;padding: 0 20px; display: inline;float: left; }
.path-mod-groupreg .clearfloat {float:none; clear:both;}

/**
 * Override for RTL layout
 */
.path-mod-groupreg.dir-rtl .horizontal .groupregs .option {padding-right:0px; padding-left: 20px; float:right;}
.path-mod-groupreg.dir-rtl .results.anonymous .graph.horizontal {text-align: right;}
.path-mod-groupreg.dir-rtl .results.anonymous { text-align: center; }
.path-mod-groupreg.dir-rtl .results.names .cell{text-align: right;}
.path-mod-groupreg.dir-rtl .results.names .user .attemptaction,
.path-mod-groupreg.dir-rtl .results.names .user .image,
.path-mod-groupreg.dir-rtl .results.names .user .fullname,
.path-mod-groupreg.dir-rtl .results.names .user .fullname{padding-left: 0px; padding-right: 5px;}
.path-mod-groupreg.dir-rtl .downloadreport {margin-left:0;margin-right: 25%;}

#page-mod-choice-report.dir-rtl .downloadreport ul li{float:right;}
#page-mod-choice-view.dir-rtl .reportlink {text-align: left;}

.path-mod-groupreg table { border: 1px #666 solid; }
.path-mod-groupreg td { border-top: 1px #666 solid; }
.path-mod-groupreg th, .path-mod-groupreg td { padding:10px 15px; }
.path-mod-groupreg td.center { text-align:center; }

span.groupreg-favorite { font-weight: bold; color: darkgreen; }
span.groupreg-blank { font-weight: bold; color: darkred; }